
.login-section {
    position: absolute;

    inset: 50%;
    transform: translate(-50%, -50%);

    height: 50vh;
    width: 20vw;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 30px;
}

.login-section > h1 {
    font-size: 3em;
}

.login-form {
    display: flex;

    flex-direction: column;

    gap: 30px;

    width: 100%;
}

.login-form > div {

}

.login-form > div > label {

}

.login-form > input {
    align-self: flex-end;
}