@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,\
800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --text-color: white;
    --font-family: "Poppins"
}

* {
    margin: 0;
    padding: 0;

    font-family: var(--font-family), sans-serif;
    color: var(--text-color);
}

html, body, #root {
    height: 100vh;
    width: 100vw;

    overflow: hidden;

    background-color: black;
}

.logo {
    position: absolute;

    inset: 30px 50px;

    height: 30px;
}

.input {
    padding: 3px 10px;

    width: calc(100% - 20px);
    min-height: 30px;

    background-color: #1d1d1d;

    border: 1px solid #1d1d1d;
    border-radius: 8px;

    font-size: 0.9em;

    outline: none;

    transition: border 0.3s;
}

.input:hover:not(.input-error):not(:read-only),
.input:focus:not(.input-error):not(:read-only) {
    border: 1px solid #c9c9c9;
}

.input-error {
    border: 1px solid red;
}

.button {
    padding: 7px 20px;

    background-color: #252525;

    border: 1px solid #252525;
    border-radius: 10px;

    font-size: 0.9em;

    transition: border 0.3s;

    cursor: not-allowed;
}

.button:disabled {
    filter: brightness(70%);
}

.button:not(:disabled) {
    cursor: pointer;
}

.error-text {
    color: red;

    font-size: 0.9em;
}


.warning-text {
    color: #ffdf00;

    font-size: 0.9em;
}

.button:hover:not(:disabled) {
    border: 1px solid #c9c9c9;
}

.button.warning-button:hover:not(:disabled) {
    border: 1px solid #ffdf00;

    color: #ffdf00;
}

.button.error-button:hover:not(:disabled) {
    border: 1px solid red;

    color: red;
}

.notification {
    display: flex;
    position: absolute;

    top: 0;
    left: 50%;
    transform: translate(-50%, -105%);

    border: 1px solid #252525;
    border-radius: 8px;

    padding: 0 20px;

    transition: top 0.5s, transform 0.5s;

    height: 100px;
    width: 25%;

    align-items: center;
    justify-content: flex-start;

    gap: 10px;

    overflow: hidden;
}

.shown-notification {
    top: 20px;
    transform: translate(-50%, 0);
}

.notification > svg {
    height: 50%;
    width: 18%;
}

.notification > .notification-content {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    height: 70%;

    gap: 7px;
}

.notification > .notification-content > p {
    color: #72727a;
}

.notification > .notification-remaining {
    position: absolute;

    width: 100%;
    height: 5px;

    top: calc(100% - 5px);
    left: 0;
}
